<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ron Dirks Badkamer, Keuken en Toilet</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'cs/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'cs/base_style.css' %}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand logo">Ron Dirks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fotogalerij' %}">Fotogalerij</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="home">
  <div class="media-icons">
    <a href="https://www.linkedin.com/in/ron-dirks-4b7a624b/"><i class="uil uil-linkedin"></i></a>
    <a href="https://www.youtube.com/@RonDirksRenovatie"><i class="uil uil-youtube"></i></a>
  </div>

  <script>
    function scrollToBottom() {
        window.scrollTo(0, document.body.scrollHeight);
    }
  </script>

  <div class="swiper bg-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'Image/bg1.jpg' %}" alt="">
        <div class="text-content">
          <h2 class="title">Wasbak<span> Installatie</span></h2>
          <p>Bij Ron Dirks zorgen we ervoor dat uw nieuwe wasbak niet alleen praktisch en stijlvol is, maar ook perfect aansluit bij uw wensen. Ons team van vakmensen garandeert een naadloze installatie, zodat uw wasbak zowel mooi als duurzaam is en jarenlang perfect functioneert. Bij ons bent u verzekerd van kwaliteit en vakmanschap.</p>
          <button class="read-btn" onclick="scrollToBottom()">Over ons <i class="uil uil-arrow-right"></i></button>
        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="{% static 'Image/bg2.jpg' %}" alt="">
        <div class="text-content">
          <h2 class="title">Bad<span> Installatie</span></h2>
          <p>Een bad van Ron Dirks betekent ultiem comfort en luxe in uw badkamer. Laat ons uw droombad installeren en geniet van ontspannende badmomenten, elke dag opnieuw.</p>
          <button class="read-btn" onclick="scrollToBottom()">Over ons <i class="uil uil-arrow-right"></i></button>
        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="{% static 'Image/bg3.jpg' %}" alt="">
        <div class="text-content">
          <h2 class="title">Douche<span> Installatie</span></h2>
          <p>Ga jij ook voor de ultieme douche-ervaring. Lekker douchen, daar knap je van op, het is pure ontspanning en een moment van verfrissing! Of u nu kiest voor een luxe regendouche of een efficiënte handdouche, wij garanderen kwaliteit en duurzaamheid. Laat ons uw badkamer transformeren in een oase van rust en comfort, zodat u elke dag kunt genieten van die heerlijke douche-ervaring.</p>
          <button class="read-btn" onclick="scrollToBottom()">Over ons <i class="uil uil-arrow-right"></i></button>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'Image/bg4.jpg' %}" alt="">
        <div class="text-content">
          <h2 class="title">Toilet<span> Installatie</span></h2>
          <p>Er is niks belangrijker dan even tot rust komen op een goed zittend toilet. Of u nu kiest voor een hangend of staand toilet, wij zorgen voor zitcomfort op maat! Met onze hoogwaardige toiletten ervaart u dagelijks gemak en comfort. Laat ons uw badkamer / toilet omtoveren tot een plek waar u echt kunt ontspannen.</p>
          <button class="read-btn" onclick="scrollToBottom()">Over ons <i class="uil uil-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-slider-thumbs">
    <div class="swiper-wrapper thumbs-container">
      <img src="{% static 'Image/bg1.jpg' %}" class="swiper-slide" alt="">
      <img src="{% static 'Image/bg2.jpg' %}" class="swiper-slide" alt="">
      <img src="{% static 'Image/bg3.jpg' %}" class="swiper-slide" alt="">
      <img src="{% static 'Image/bg4.jpg' %}" class="swiper-slide" alt="">
    </div>
  </div>
</section>

<section class="about section">
  <h2>Over ons</h2>
  <p> Bij ons staat u als klant centraal. Wij begrijpen dat uw behoeften het allerbelangrijkst zijn, en daarom is ons team volledig toegewijd om aan deze verwachtingen te voldoen. <br><br>
      Veel van onze klanten komen bij ons terug of bevelen ons aan bij anderen, en dat zegt genoeg! <br><br>
      Om u van het juiste advies te voorzien, denken wij graag heel praktisch mee. <br><br>
      Bij Ron Dirks kunt u terecht voor het complete aanleggen van uw badkamer, keuken en toilet. Of het nu gaat om leidingwerk, elektra, tegelwerk, stucwerk of het plaatsen van sanitair, wij staan voor u klaar. <br><br>
      U kunt zelfs uw eigen sanitair aanschaffen en wij installeren het voor u. </p>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'script/swiper-bundle.min.js' %}"></script>
<script src="{% static 'script/main.js' %}"></script>

</body>
</html>
